@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900);

// Font

$bodyFont: Outfit, sans-serif;

$bodySize: 1.8rem;
$smallSize: 1.5rem;

$lightWeight: 300;
$medWeight: 400;
$heavyWeight: 600;

// Color

$mainBG: hsl(217, 54%, 11%);
$cardBG: hsl(216, 50%, 16%);
$line: hsl(215, 32%, 27%);
$lightGrey: #8ca1c0;
$ethColor: #00fcfa;

$white: #fff;
